parameters:
    level: 8
    paths:
        - ./src/
#    ignoreErrors:
#        - message: '~has no return type specified~'
    phpVersion: 70200

includes:
    - phpstan-baseline.neon
    - vendor/marc-mabe/php-enum-phpstan/extension.neon
